body {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.card-title {
  background-color: #21262d;
  border-bottom: 1px solid .30363d;
  padding: 5px;
  text-align: left;
}

.server-list,
.server-info {
  border: 1px solid .30363d;
  padding: 0.5em 1.5em;
  flex: 1;
  border-radius: 10px;
  font-size: large;
  margin: 0 1em;
}

.server-list {
  float: left;
}

.server-info {
  float: right;
}

.add-server {
  font-size: 30px;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: transparent;
  color: #2fbf10;
  margin: 0.5em, 0.25em, 0.25em, 0.25em;
}

.add-server:hover {
  background-color: #21262d;
  color: #39ff14;
}
