html {
	background-color: #0d1117;
}

body {
  color: #c9d1d9;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

body h2 {
  background-color: #21262d;
  border-bottom: 1px solid #30363d;
  padding: 5px;
  text-align: left;
}

#content {
  display: flex;
  flex-grow: 1;
}

#server-list,
#server-info {
  border: 1px solid #30363d;
  padding: 0.5em 1.5em;
  flex: 1;
	border-radius: 10px;
	font-size: large;
}

#server-list {
  float: left;
	margin: 0 1em;
}

#server-info {
  float: right;
	margin: 0 1em;
}

#running {
	color: #32CD32;
}

#ready {
	color: #EBC75B;
}

#down {
	color: #FF6B6B;
}

footer {
  clear: both;
  padding: 3em;
  flex-shrink: 0;
	text-align: center;
}

footer img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

#clickable-list {
  list-style: none;
  text-decoration: none;
  text-align: left;
  color: inherit;
}

#clickable-list li a {
  text-decoration: none;
  color: inherit;
}

#clickable-list li a:hover {
  color: inherit;
  text-decoration: underline;
}

#add-server {
  font-size: 30px;
	padding: 5px 15px;
  border-radius: 50%;
  background-color: transparent;
	color: #2FBF10;
	margin: 0.25em;
}

#add-server:hover {
	background-color: #21262d;
	color: #39FF14;
}
