.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.toolbar > div {
    display: flex;
    align-items: center;
}